[Unit]
Description=Jenkins
After=network.target

[Service]
Type=simple
Environment="JENKINS_HOME=/data/jenkins"
ExecStart=/usr/bin/java -jar /usr/lib/jenkins/jenkins.war —-httpPort={{ jenkins_port }}
User=jenkins

[Install]
WantedBy=multi-user.target
